<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".application.StayHookApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayHook"
        tools:targetApi="31" >
        <activity
            android:name=".screen.dashboard.account.myticket.OpenTicketActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.myticket.MyTicketActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.myticket.create.CreateTicketActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.mypayment.MyPaymentsActivity"
            android:exported="false"
            />
        <activity
            android:name=".screen.dashboard.account.downloadprofile.KYCActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.myschedule.ScheduleVisitStatusActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".screen.notification.NotificationFragment"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.privateroom.PrivateRoomActivity"
            android:exported="false" />

        <activity
            android:name=".screen.dashboard.home.sharedroom.SharedRoomActivity"
            android:exported="false" />
        <activity
            android:name=".screen.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".screen.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.verification.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.bookapartment.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.RecommendationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.bookapartment.SelectDateActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.bookapartment.SummaryBookActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.bookapartment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.bookapartment.SelectBedActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.writeareview.WriteAReviewActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.mybooking.MyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.myschedule.MyScheduledVisitActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.home.recommondationdetail.schedulevisit.ScheduleVisitActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.completeprofile.CompleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screen.dashboard.account.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.dashboard.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>